/* ------------------ */
/* -------Global----- */
/* ------------------ */
/* aqua: #00e6e6 */
/* red #ff1a1a */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.clearfix {
    clear: both;
}
.header__secondary {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.header__tertiary {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}
.header__tertiary-red {
    color: #ff1a1a;
}
/* ------------------ */
/* -------Header----- */
/* ------------------ */
/* logo */
.header {
    background-color: white;
}
.logo {
    width: 50%;
    float: left;
    padding-left: 100px;
    z-index: 1000;
    position: relative;
}
.logo__main {
    font-size: 50px;
    font-weight: 400;
    color: #ff1a1a;
    margin-bottom: 5px;
}
.logo__sub {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;

}
/* navigation */
.nav {
    width: 50%;
    float: right;
    text-align: right;
    padding: 20px;
    padding-right: 80px;
}
.nav__list {
    list-style: none;
}
.nav__item {
    display: inline;
}
.nav__link {
    text-decoration: none;
    color: #00e6e6;
    padding: 10px 10px;
}
.nav__link:hover {
    color:#ff1a1a
}
/* ------------------ */
/* -------Carousel----- */
/* ------------------ */
.carousel {
    background-image: url(../img/banner.jpg);
    height: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -25px;
    z-index: 1;
}
.header__text {
    position: absolute;
    top: 30%;
    right: 14%;
    text-transform: uppercase;
}
.header__main , .header__sub {
    margin: 10px 0;
    padding: 5px;
    font-weight: 400;
    opacity: 0.6;
    text-align: right;
}
.header__main span, .header__sub span {
    background-color: #d5d5c3;
    padding: 2px;
}
.header__main {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 1px;
    margin-bottom: 40px;
}
.header__sub {
    font-size: 10px;
    letter-spacing: 4px;
    word-spacing: 2px;
}
/* ------------------ */
/* -------about----- */
/* ------------------ */
.about {
    background-color: #00e6e6 ;
}
.about__content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.about__header {
    background-color: #d5d5c3;
    font-size: 25px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 20px;
}
.content {
    color: #fff;
    margin-bottom: 20px;
}
/* ------------------ */
/* -------about----- */
/* ------------------ */
.welcome {
    margin: 40px auto;
    width: 90%;
}
.welcome__text {
    text-align: center;
    width: 60%;
    margin: 10px auto;
}
/* welcome box  */
.left, .right {
    float: left;
    width: 50%;
}
/* image  */
.welcome__img {
    width: 100%;
    height: 250px;
}
/* content  */
.welcome__box {
    margin: 20px 0;

}
.welcome__icon, .welcome__content {
    float: left;
}
/* icon */
.welcome__icon {
    width: 5%;
}
.welcome__icon  img {
    width: 100%;
    margin-top: 5px;
}
/* text */
.welcome__content {
    width: 90%;
}
/* ------------------ */
/* -------Work----- */
/* ------------------ */
.work {
    margin: 40px auto;
    width: 90%;
}
.work__box {
    float: left;
    width: 33.3333%;
    padding: 5px;
}
.work__img {
    width: 100%;
}
/* ------------------ */
/* -------success----- */
/* ------------------ */
.succeed {
    margin: 40px auto;
    width: 90%;
    margin-bottom: 40px;
}
.succeed__box, .archive__box {
    margin-bottom: 20px;
}
.succeed__list, .archive__list {
    list-style: none;
}
.right-succeed {
    float: right;
    width: 45%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('/img/25.jpg');
    background-position: center;
    background-size: cover;
}
.archive__box {
    padding: 50px;
    color: #fff;
    font-size: 20px;
    
}
.archive__item {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.archive__number {
    color: #00e6e6;
    font-weight: 600;
    padding-right: 20px;
}
/* ------------------ */
/* -------footer------- */
/* ------------------ */
.footer{
    background-color: #333333;
    color: #fff;
    padding: 40px 10px;
}
.footer__box {
    width: 85%;
    margin: 0 auto
}
.left-footer {
    float: left;
    width: 25%;
}
.footer__main {
    margin-bottom: 20px;
}
.footer__text:not(:last-child) {
    margin-bottom: 15px;
}
.footer__link, .footer__text {
    color: #b3b3b3;
    text-decoration: none;
}
.copyright {
    padding-left: 60px;
    padding-top: 40px;
}
.copyright .footer__link {
    color: #ff1a1a;
}
.footer__logo {
    color: #fff;
}
.footer input[type=submit] {
    color: #fff;
    background-color: orangered;
    padding: 2px 4px;
}
