/* ------------------ */
/* -------Global----- */
/* ------------------ */
/* aqua: #00e6e6 */
/* red #ff1a1a */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
.clearfix {
    clear: both;
}
.header__secondary {
    font-size: 45px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}
.header__tertiary {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.header__tertiary-red {
    color: #ff1a1a;
}
/* ------------------ */
/* -------Header----- */
/* ------------------ */
/* logo */
.header {
    background-color: white;
}
.logo {
    width: 50%;
    float: left;
    padding-left: 100px;
    z-index: 1000;
    position: relative;
}
.logo__main {
    font-size: 50px;
    font-weight: 400;
    color: #ff1a1a;
    margin-bottom: 5px;
}
.logo__sub {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    padding-left: 15px;

}
/* navigation */
.nav {
    width: 50%;
    float: right;
    text-align: right;
    padding: 20px;
    padding-right: 80px;
}
.nav__list {
    list-style: none;
}
.nav__item {
    display: inline;
}
.nav__link {
    text-decoration: none;
    color: #00e6e6;
    padding: 10px 10px;
}
.nav__link:hover {
    color:#ff1a1a
}
/* ------------------ */
/* -------Carousel----- */
/* ------------------ */
.carousel {
    background-image: url(../img/banner.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -25px;
    z-index: 1;
}
.header__text {
    position: absolute;
    top: 35%;
    right: 5%;
    text-transform: uppercase;
}
.header__main, .header__sub {
    margin: 10px 0;
    padding: 5px;
    background-color: #d5d5c3;
    font-weight: 400;
    width: fit-content;
    opacity: 0.6;
}
.header__main {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 1px;
    margin-bottom: 40px;
}
.header__sub {
    font-size: 10px;
    letter-spacing: 6px;
    word-spacing: 2px;
}
/* ------------------ */
/* -------about----- */
/* ------------------ */
.about {
    background-color: #00e6e6 ;
}
.about__content {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}
.about__header {
    background-color: #d5d5c3;
    font-size: 25px;
    font-weight: 400;
    width: fit-content;
    margin-bottom: 20px;
}
.content {
    color: #fff;
    margin-bottom: 20px;
}
/* ------------------ */
/* -------about----- */
/* ------------------ */
.welcome {
    margin: 40px auto;
    width: 90%;
}
.welcome__text {
    text-align: center;
    width: 60%;
    margin: 10px auto;
}
.left, .right {
    float: left;
    width: 50%;
}
.welcome__img {
    width: 100%;
    height: 250px;
}
.welcome__box {
    margin: 20px 0;

}
.welcome__icon, .welcome__content {
    float: left;
}
.welcome__icon {
    width: 5%;
}
.welcome__icon  img {
    width: 100%;
    margin-top: 5px;
}
.welcome__content {
    width: 90%;
}